version: '3.9'

services:
  ansible:
    container_name: ansible
    image: ansible
    tty: true
    stdin_open: true
    build:
      context: ./ansible-ubuntu
    networks:
      - test

  remote_host_one:
    container_name: remote-host-one
    image: remote-host-ssh
    build:
      context: ./ssh-enabled-ubuntu
    networks:
      - test

  remote_host_two:
    container_name: remote-host-two
    image: remote-host-ssh
    build:
      context: ./ssh-enabled-ubuntu
    networks:
      - test

networks:
  test:

