---
- hosts: host1

  tasks:
    - ping: ~

    - name: Update APT package manager repository cache
      become: true
      apt:
        update_cache: yes

    - name: Upgrade the existing packages
      become: true
      apt:
        upgrade: safe

    - name: install cowsay - its probably required
      apt:
        name: cowsay
      become: true

    - name: Install Git VCS
      become: true
      apt:
        name: git
        state: latest

    - name: Install PHP CLI
      become: true
      apt:
        name: php8.1-cli
        state: latest
